<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListaCompras"
        tools:targetApi="34">
        <activity
            android:name=".screens.AddItemProductActivity"
            android:exported="false"
            android:label="@string/title_activity_add_item_product"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.AddItemSetorActivity"
            android:exported="false"
            android:label="@string/title_activity_add_item_setor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.AddProductSetorActivity"
            android:exported="false"
            android:label="@string/title_activity_add_product_setor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.DetailsListActivity"
            android:exported="false"
            android:label="@string/title_activity_details_list"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.DetailsSetorActivity"
            android:exported="false"
            android:label="@string/title_activity_details_setor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.EditProductActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.NewListActivity"
            android:exported="false"
            android:label="@string/title_activity_new_list"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.NewProductActivity"
            android:exported="false"
            android:label="@string/title_activity_new_product"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.NewSetorActivity"
            android:exported="false"
            android:label="@string/title_activity_new_setor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.ProductsActivity"
            android:exported="false"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.SetoresActivity"
            android:exported="false"
            android:label="@string/title_activity_setores"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>